body{
  font-family:Arial, sans-serif;
  background-color:#f0f0f0;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.box{
  background:white;
  padding:20px;
  border-radius:10px;
  text-align:center;
  
  width:350px;
}

input{
  padding:8px;
  width:80%;
  margin-bottom:10px;
}

.buttons{
  margin-bottom:10px;
}

button{
  margin:5px;
  padding: 8px 10px;
  background-color:beige;
  color: black;
  border-radius:5px;
  cursor:pointer;
}




p {
  font-size: 16px;
}
